body {
	max-width: 1000px;
	margin: auto;
	font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	color: #4b4b4b
}
a {
	color: #4b4b4b;
}
img {
    display: inline;
    width: 100%;
    border: 5px solid;
}
figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}
#footer{
    height: 400px;
}
